/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #212121;
}

.container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-box {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#searchBtn {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #0056b3;
}

#weatherClass {
    display: none;
    /* Initially hide the weather details */
    margin-top: 20px;
}

.temperature,
.description,
#humidity,
#wind-speed {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#weatherClass p {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#errorMsg {
    color: red;
    margin-top: 20px;
}